
<h1>Toolbar with query-button @Edit.Toolbar(Content)</h1>

<p>This is just a quick demo, if you rotate through the toolbar you'll see the funnel-button which is a quick way to edit the query attached to this template. It's only enabled if this template has a query attached.</p>